{{>userheader}}
<link rel="stylesheet" href="/stylesheets/address.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  {{! Show Path }}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cart</li>
    </ol>
  </nav>
<div class="container">
<div class="row">
<div class="col-lg-8 col-md-8 ">
<span style="font-size: 2.350rem; font-weight:500; ">BAG</span>   
{{#each data}}
    <div class="card mb-2" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-6">
              <a href="" style="">
                <img src="/product_images/{{this.product._id}}-1.jpg" class="img-fluid rounded-start"
                    alt="...">
                    </a>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    

                    <p class="card-text">
                        {{this.product.brand}}
                    </p>
                    <h5 class="card-title">
                       {{this.product.name}}
                    </h5>
                     <p class="card-text">
                        ₹{{this.product.price}}/-
                    </p>
                    <div class="d-flex  ">
                        <button
                          class="input-number-decrement btn btn-outline-dark"
                          id="{{this.product._id}}{{this._id}}"
                          onclick='changeQuantity("{{this._id}}","{{this.product._id}}","{{this.userId}}","-1")'
                        >-</button><input
                          class="input-number text-center col-1 col-sm-2"
                          id="{{this.product._id}}"
                          type="text"
                          value="{{this.cartItems.quantity}}"
                          min="0"
                          disabled
                        />
                        <button
                          class="input-number-increment btn btn-dark"
                          onclick='changeQuantity("{{this._id}}","{{this.product._id}}","{{this.userId}}","1")'
                        >+</button>
                      </div>
                
                      <button
                        class="text-center my-2 align-items-end d-flex btn btn-danger "
                        onclick="removeFromCart('{{this._id}}','{{this.product._id}}')"
                      >Remove</button>

             </div>
            </div>
        </div>
    </div>
<h6>Free Shopping</h6>
<h6>Arrives Thu,Set 29 Mon,Oct 3 <a href="">Change Address </a></h6>
    {{/each}}

</div>



<div class="col-lg-4">
  <span style="font-size: 2.350rem; font-weight:500; ">Summary</span>  
  <br> 
  <div class="container mt-3">
  <span>Do you have a Promo Code ?</span><a class="fw-bold" style="color: rgb(65, 65, 216); " data-bs-toggle="modal" data-bs-target="#myModal">+ offers</a>

</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content ">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Available Coupons</h4>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        {{#each coupon}}
        <div class="card text-dark bg-light mb-3" style="max-width: 22rem;border:dotted">
  <div class="card-header text-center fs-3 fw-bold text-white bg-secondary "> <div class="textToBeCopied">{{couponCode}}</div></div>
  <div class="card-body">
    <h5 class="card-title">{{couponDesc}}</h5>
    <p class="card-text">Min Amount of ₹{{minAmount}} required.</p>
    <input type="text" value="{{couponCode}}" hidden id="textToBeCopied-{{couponCode}}">
    <button class="copyButton" id="copyButton" onclick="copyToClipboard('{{couponCode}}')">Copy</button>
  </div>
</div>
  {{/each}}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


  <p></p>
<div class="inBag">
      <div>
        <form action="" method="post">
<input type="text" class="rounded" id="coupon">
        <p>Subtotal</p>
        <p>Estimated Shipping</p>
        <p>Discount</p>
        <div class="divider my-3 border-bottom border-secondary"></div>
        <p>Total</p>
        <div class="divider my-3 border-bottom border-secondary"></div>
        </form>
        <span id="coupon_err" class="text-danger"></span>
      </div>
      <div>
   <button class="btn btn-outline-dark rounded-pill btn-sm" onclick="applyCoupon('{{userid}}')">Apply</button>
        <p>₹{{total.sub_total}}/-</p>
        <p>Free</p>
        <p>- ₹{{total.total_discount}}/-</p>
         <div class="divider my-3 border-bottom border-secondary"></div>
        <p>₹{{total.total}}/-</p>
         <div class="divider my-3 border-bottom border-secondary"></div>
      </div>
        </div>


  <a href="/place-order"><button class="btn1 btn-border-1" type="submit">CheckOut</button></a>

</div>
</div>

</div>


<div class="container-fluid">

 <h2 style="margin:60px ;">PRODUCTS YOU MAY LIKE!</h2>
</div>

<div class="container mx-auto mt-4">
    <div class="row" style="">
      {{#each wishlist}}
        <div class=" col-lg-4  col-md-6 col-sm-12 g-4">
            <div class="card h-100 " style="width: 18rem;">
           <a href="/productView/{{this._id}}">
                <img src="/product_images/{{this._id}}-1.jpg" class="card-img-top" alt="...">
            </a>
                <div class="card-body" >
                 
                  <p>{{this.brand}}</p>
                    <h6 class="card-title">{{this.name}}</h6> 
                    <p class="card-text">₹{{this.price}}/-</p>
      <button onclick="addToCart('{{this._id}}')" class="btn btn-dark">Add to Bag</button></a>
                           <a href="/add-to-cart/{{this._id}}"> <button class="btn btn-outline-dark" mb-3>Remove</button></a>
                </div>
            </div>
        </div>
{{/each}}    
</div>
 </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  ></script>
<script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous" >
  </script>


<script >
  function addToCart(productId) {
    toastr.options = {
      "closeButton": true,
      "newestOnTop": false,
      "progressBar": true,
      "positionClass": "toast-bottom-center",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    $.ajax({
      url: `/add-to-cart/${productId}`,
      method: "get",
      success: function(data) {
        toastr.success('Successfully added to the Cart')

      },
      error: function(err) {
        console.log(err);
      }
    })
  }

  </script>
<script >
  function changeQuantity(cartId, productId, userId, count) {
    console.log("entered")
    let val =
      document.getElementById(productId).value;
    val = parseInt(val);
    count =
      Number(count);
    console.log(val, count)
    $.ajax({
      url: "/cart/changeQuantity",
      data: {
        cart: cartId,
        user: userId,
        product: productId,
        count: count
      },
      method: "POST",
      success: function(data) {
        $("#subtotal").text(data.total);
        $("#total").text(data.total);
        val = val + count;
        document.getElementById(productId).value = val;
        if (val <= 1) {
          //document.getElementById(`${productId}${cartId}`).disabled = true;
          $(`#${productId}${cartId}`).attr("disabled", true);
        } else {
          $(`#${productId}${cartId}`).attr("disabled", false);
        }
      },
      error: function(err) {}
    })
  }

function removeFromCart(cartId, productId) {
  console.log(cartId,
    productId);
  $.ajax({
    url: "/cart/remove",
    data: {
      cart: cartId,
      product: productId,
    },
    method: "POST",
    success: function(data) {
      console.log("deleted successfully");
      window.location.reload();
    },
    error: function(err) {
      console.log(err)
    }
  })
}

</script> 
<script >
  function applyCoupon(userid) {
    console.log(userid);
    const couponcode = document.getElementById("coupon").value;
    console.log(couponcode)
    $.ajax({
      url: "/cart/coupon",
      data: {
        id: userid,
        code: couponcode
      },
      method: "POST",
      success: function() {
        location.reload()
      },
      error: function(err) {
        $("#coupon_err").text(err.responseJSON)
      }
    })

  }
  </script>


  <script>
function copyToClipboard(couponCode) {
  // Get the text field
  var copyText = document.getElementById(`textToBeCopied-${couponCode}`);
  // Select the text field
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

  // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);
}
</script>